<div class="table-header">
  <button (click)="addnew()" mat-raised-button color="accent" trans>Add</button>
</div>
<div class="table">
  <div class="header">
    <div class="title">Server</div>
    <div class="title">Nyelv</div>
    <div class="title">Minőség</div>
    <div class="title">Beküldő</div>
    <div class="title">Évad</div>
    <div class="title">Epizód</div>
    <div class="title"></div>
    <div class="title"></div>
    <div class="title"></div>
  </div>
  <div *ngFor="let emp of service.list"  class="row">
    <div class="action"><a href="{{emp.url}}" target="_blank">{{server(emp.url)}}</a></div>
    <div class="action">  {{emp.label}}</div>
    <div class="action">  {{emp.quality}}</div>
    <div class="action">  {{emp.user_name}}</div>
    <div class="action" *ngIf="emp.season != 0" >  {{emp.season}}</div>
    <div class="action" *ngIf="emp.episode != 0" >  {{emp.episode}}</div>
    <div class="action">
        <button *ngIf="emp.approved == 0" [matTooltip]="'Link elfogadas' | trans"  mat-icon-button (click)="linkok(emp.id)">
            <mat-icon svgIcon="tick"></mat-icon>
        </button>
    </div>
    <div class="action">
        <button mat-icon-button  [matTooltip]="Szerkesztes"  (click)="OpenModal(emp)">
            <mat-icon svgIcon="edit"></mat-icon>
        </button>
    </div>
    <div class="action">
        <button mat-icon-button [matTooltip]="'Delete selected' | trans" (click)="linkdelete(emp.id)">
            <mat-icon svgIcon="delete"></mat-icon>
        </button>
    </div>
  </div>

</div>