.table{
    width:100%;
    .header{
        display:grid;
        grid-template-columns: 25% 11% 11% 11% 7% 7% 7% 11% 15%;
        border-bottom:1px solid  rgba(0,0,0,.12);
        .title{
            color: rgba(0,0,0,.54);
            padding: 10px;
            font-size: 12px;
            font-weight: 500;
            align-items: center;
            display: grid;
        }
    }
    .row{
        display:grid;
        grid-template-columns: 25% 11% 11% 11% 7% 7% 7% 11% 15%;
        border-bottom:1px solid  rgba(0,0,0,.12);
        .action{
            color: rgba(0,0,0,.87);
            padding: 10px;
            font-size: 14px;
            align-items: center;
            display: grid;
        }
    }
}