@import "../../../../scss/variables";

footer {
  display: block;
  border-top: 1px solid $site-border-color-100;

  .footer-content {
    background-color: $site-bg-color-200;

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 50px;
      padding-bottom: 20px;
    }
  }

  .col {
    max-width: 300px;
    margin-bottom: 30px;

    .title, .menu-title {
      font-size: 1.8rem;
      font-weight: 500;
      margin-bottom: 25px;
    }

    .nav-item {
      display: block;
      color: inherit;
      margin-bottom: 10px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer-bar {
    background-color: $site-accent-color;
    color: $site-text-color-100;
    padding: 15px 50px;
    text-align: right;
  }

  @media only screen and (max-width: $medium) {
    .about-col {
      max-width: none;
      text-align: center;
      width: 100%;

      .title {
        margin-bottom: 10px;
      }
    }

    .footer-content .container {
      padding: 30px;
    }

    .footer-bar {
      text-align: center;
    }
  }
}