<media-item-header [backdrop]="backdropImage$ | async"></media-item-header>

<ad-host slot="ads.shared" class="shared-ad-host"></ad-host>

<div class="container" *ngIf="episode$ | async as episode">
    <series-primary-details-panel></series-primary-details-panel>
    <series-secondary-details-panel></series-secondary-details-panel>
        <mat-tab-group color="accent" animationDuration="0ms">
            <mat-tab [label]="'Comment' | trans">
                    <ng-template matTabContent>
                        <title-comment-panel></title-comment-panel>
                    </ng-template>
            </mat-tab>
            <mat-tab [label]="'Cast' | trans">
                <title-cast-panel></title-cast-panel>
            </mat-tab>
        <ng-container *ngIf="currentUser.isLoggedIn();">
            <mat-tab [label]="'Link submit' | trans">
                    <ng-template matTabContent>
                        <title-linksubmit-panel></title-linksubmit-panel>
                    </ng-template>
            </mat-tab>
        </ng-container>
            
            <mat-tab [label]="'Videos' | trans">
                    <ng-template matTabContent>
                            <videos-panel [mediaItem]="episode" *ngIf="settings.get('titles.show_videos_panel')"></videos-panel>
                    </ng-template>
            </mat-tab>
        </mat-tab-group>


</div>

<footer></footer>