<div class="modal-header">
    <h2 mat-dialog-title trans>
        <span *ngIf="data.link" trans>Update</span>
        <span *ngIf="!data.link" trans>Create</span>
        <span> {{ 'Link' | trans }}</span>
    </h2>
    <button type="button" (click)="close()" class="close-button no-style icon-button">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</div>

<form autocomplete="off" (ngSubmit)="confirm()" [formGroup]="linkForm" ngNativeValidate>
    <mat-dialog-content class="many-inputs">
        <div class="input-container">
            <input type="hidden" name="id" id="id" value="data.link.id" formControlName="id">
            <input type="hidden" name="user_name" id="user_name" value="data.link.user_name" formControlName="user_name">
            <label for="url" trans>URL</label>
            <input type="text" required maxlength="100" id="url" formControlName="url">
        </div>
        <div class="input-container">
            <label for="label" trans>Nyelv</label>
            <select formControlName="label">
                <option *ngFor="let nyelv of nyelv" [ngValue]="nyelv.name" 
                [selected]="nyelv.name === label">
                  {{ nyelv.name }}
                </option>
            </select>
         </div>
         <div class="input-container">
            <label for="label" trans>Minőség</label>
            <select formControlName="quality">
                <option *ngFor="let minoseg of minoseg" [ngValue]="minoseg.name">
                  {{ minoseg.name }}
                </option>
            </select>
         </div>
         <div *ngIf="data.link.season!=0" class="input-container">
            <label for="label" trans>Évad</label>
            <input  type="number" id="season" formControlName="season" name="season" step="1">
         </div>
         <div *ngIf="data.link.episode!=0" class="input-container">
            <label for="label" trans>Epizód</label>
            <input type="number" id="episode" formControlName="episode" name="episode" step="1">
         </div>
         

    </mat-dialog-content>

    <mat-dialog-actions>
        <button (click)="close()" type="button" mat-button trans>Cancel</button>
        <button type="submit" mat-raised-button color="accent" [disabled]="loading$ | async" trans>Save</button>
    </mat-dialog-actions>
</form>